@using Gateway.DomainModel
@model OSG.Models.ViewModel.NewsIndex

@{
    ViewBag.Title = "News";

    News newsToShow = null;
    if (Model.Id.HasValue)
    {
        newsToShow = Model.newsList.FirstOrDefault(x => x.Id == Model.Id.Value);
    }
    else
    {
        newsToShow = Model.newsList.OrderByDescending(x => x.Date).FirstOrDefault();
    }
}

<div class="row">
    <h3 class="news_jumbo_header">@newsToShow.Title</h3>
    <div class="col-md-5 col-lg-5">
        <img src="@newsToShow.Picture" class="img-responsive news_jumbo_img" width="410" height="307">
    </div>
    <div class="col-md-7 col-lg-7">
        <p class="news_jumbo_text">@newsToShow.Description</p>
    </div>
</div>
<hr />
<div class="container news_container">
    <div class="row">
        @foreach (var news in Model.newsList.OrderByDescending(x => x.Date))
            {
            <div class="col-xs-4 col-sm-4 col-md-4 news_thumb_wrapper">
                <div class="caption">
                    <a href="@Url.Action("Index", "News", new {newsId = news.Id})"><h3>@news.Title</h3></a>
                </div>
                <div class="thumbnail news_thumbnail">
                    <a href="@Url.Action("Index", "News", new {newsId = news.Id})"><img src="@news.Picture" alt="@news.Title" class="img-responsive"></a>
                </div>
            </div>
        }
    </div>
</div>
