@model IEnumerable<Gateway.DomainModel.News>

@{
    ViewBag.Title = "Options";
}

<h2>Options</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @using (Html.BeginForm("Delete", "News", new { id = item.Id }, FormMethod.Post, new { @class = "deleteForm" }))
            {
                <button type="submit" class="btn-link">Delete</button>
            }
            
        </td>
    </tr>
}

</table>
