@model Gateway.DomainModel.Event

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<div class="customer-wrap">
    <div class="row">
        <form method="POST" action="Create">
            <div class="col-xs-6 col-md-6">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="datetime" name="date" value="@Model.Date" class="form-control input-lg" placeholder="Date" />
                <input type="text" name="description" value="@Model.Description" class="form-control input-lg" placeholder="Description" />
                <input type="text" name="title" value="@Model.Title" class="form-control input-lg" placeholder="Title" />
                <button class="btn btn-default" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
